.container {
    display: flex;
    position: relative;
    align-items: center;
    // width: 100%;
    border: 1px solid #DBDBDB;
    .label {
        // width: fit-content;
        white-space: nowrap;
        padding: 12px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        // min-width: 45px;
        letter-spacing: 0.02em;
        color: #5E6263;
    }
}